/* PC */
@media (min-width: 64em) {

}

/* Tablet & Mobile */
@media (max-width: 63.9375em) {
    .btn {
        padding: 15px 16px;
    }

    .contact .contact-form .form-control {
        padding: 12px 8px;
    }

    .contact .contact-info {
        line-height: 2;
    }

    #footer .social-list a {
        padding: 0 8px;
        font-size: 32px;
    }

    #footer p a {
        display: inline-block;
        padding: 8px 0;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {

}

/* Mobile */
@media (max-width: 46.1875em) {
    .s-col-1 {
        width: 100%;
    }

    .s-mt-8 {
        margin-top: 8px;
    }

    .s-mt-16 {
        margin-top: 16px;
    }

    .btn {
        width: 100%;
    }

    .s-full-width {
        width: 100%;
    }

    #header {  
        overflow: hidden;
    }

    #nav {
        width: 100%;
    }

    #nav li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav li a {
        display: block;
    }

    #nav > li > a {
        padding: 1px 24px;
    }

    #nav .subnav {
        position: inherit;
        background-color: #333;
        box-shadow: none;
    }

    #nav .subnav li a {
        padding: 15px 40px;
        color: #fff;
    }

    .search {
        display: none;
    }

    .menu {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    #slider .text-content {
        display: none;
    }

    .about .member-item .member-img {
        width: 60%;
    }
}